.header{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 10px 0;
    p{
        font-family: 'B Koodak';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #5B5B5B;
        margin: auto;
        margin-left: 45%;
    }
}
.bottom-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 3.2%;
    right: 3.2%;
    top: 89.78%;
    bottom: 1.6%;
    background: #F8F8F8;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 2;
    img:hover{
        background: #EFEFEF;
        border-radius: 50px;
        cursor: pointer;
    }
}