.productList-container{
    padding: 0 12px;
    h5{
        font-family: 'B Koodak';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #5B5B5B;
    }
}
.preview-results{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 14px;
    border-bottom: 1px solid #EDEDED;
    div{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        img{
            width: 80px;
            height: 80px;
            border-radius: 10px;
            margin:0 0 8px 12px;
        }
        .product-name{
            color: #5B5B5B;
            font-family: 'B Davat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
        }
    }
    .product-price{
        color: #3F089D;
        font-family: 'B Koodak';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }
}
