.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  margin: 15px 12px 30px 12px;
}

.search-container input {
  width: 88%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 14px;
  font-weight: 700;
  color: #8F8F8F;
}

.search-container input::-webkit-input-placeholder {
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #CCCCCC;
}

.search-container input:-ms-input-placeholder {
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #CCCCCC;
}

.search-container input::-ms-input-placeholder {
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #CCCCCC;
}

.search-container input::placeholder {
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #CCCCCC;
}

.blur-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 122px;
  left: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 2;
}

.search-results-container {
  position: absolute;
  width: 84%;
  left: 4%;
  top: 0;
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
}

.search-results-container .preview-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 0px;
}

.search-results-container .preview-results .preview-product-name {
  color: #5B5B5B;
}

.search-results-container .preview-results .preview-product-seller {
  color: #8F8F8F;
  margin-right: 20px;
}

.search-results-container .show-all-products {
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6C63FF;
}

.search-results-container .no-product-founded {
  font-family: 'B Koodak';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #6C63FF;
}
/*# sourceMappingURL=search.css.map */